
# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

file_path=C:/Users/xangi/project/data/operations.json        # путь до файла оperations.json
url=https://api.apilayer.com/exchangerates_data/convert?to={to}&from={from}&amount={amount} # адресс API конвертера валют


# API-ключи
API_KEY=r4rgKhiG1ee2vSGtjX16QhBTrKtDJqF8